{
   "$schema": "https://json.schemastore.org/prettierrc",
   "useTabs": false,
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "endOfLine": "crlf",
   "printWidth": 160,
   "trailingComma": "es5",
   "singleAttributePerLine": true,
   "overrides": [
      {
         "files": "*.html",
         "options": {
            "parser": "angular"
         }
      }
   ]
}
